@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    interpolate-size: allow-keywords;
}

.material-symbols-rounded {
    user-select: none;
}

body {
    min-height: 100dvh;
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
    grid-template-rows: auto 1fr auto;
}

/* Remove after development */
* {
    transition: ease all 0.3s;
}

a {
    color: #007bff;
}

@media (prefers-color-scheme: dark) {
    a {
        color: #77d8ff;
    }
}

p {
    margin-bottom: 1.5rem;
}
